* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  color: goldenrod;
  font-weight: bold;
  font-size: 2em;
  font-family: 'IM Fell English', serif;

}

h3 {
  color: goldenrod;
  font-family: 'IM Fell English', serif;
  margin: 0 0 .5em 0;
}

p {
  color:white;
  margin: 0 0 1em 0;
}

button {
  margin: 10px;
  border-radius: 20px;
  border-color: chocolate;
  background-color: goldenrod;
  color: saddlebrown;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.tooltip-container {
  display: flex;
  align-items: baseline;
}

.tooltip {
  position: relative;
  margin-left: 5px;
  max-height: 20px;
  font-size: small;
}

.tooltiptext {
  font-size: small;
  visibility: hidden;
  min-width: 300px;
  background-color: white;
  color:rgb(0, 0, 0);
  border-radius: 6px;
  text-justify: inter-word;
  margin-left: 10px;
  padding: 5px;
  position: absolute;
  font-size: small;
  z-index: 1;
  top: -5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.charsheet {
  background-color: rgba(105, 105, 105, 0.418);
  width: 1000px;
  margin: 0 5em;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "prefs att"
                       "history gear"
                       "trait trait";
}

.sheet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 25px 0 0 25px;
  flex-direction: column;

}

.sexradio-prompt {
  margin: 0;
}

#prefs {
  color: white;
  grid-area: prefs;
}

#attributes {
  flex-direction: column;
  color: white;
  grid-area: att;
}

#gear {
  grid-area: gear;
  margin-right: 25px;
}

#trait-alignment {
  grid-area: trait;
  margin-bottom: 25px;
}

#history {
  grid-area: history;
  flex-direction: column;
}

@media (max-width: 700px) {
  .charsheet {
    margin: 0;
    display: inline;
  }

  .container {
    margin-right: 25px;
  }
}