body {
  background-color: dimgray;
}

h1 {
  color: goldenrod;
  text-shadow: 2px 2px darkred;
}

h3 {
  margin-bottom: 5px;
  color: maroon;
}

p {
  margin-bottom: 5px;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  border-color: chocolate;
  background-color: goldenrod;
  color: saddlebrown;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

#character-sheet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#attributes {
  width: 265px;
}

#attribute-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

#attribute-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
#attribute-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

#attribute-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

#gear {
  height: 250px;
  width: 320px;
}

#attribute-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

#trait-alignment {
  width: 350px;
}

#history {
  max-width: 750px;
}